.features {
	background-image: url('/assets/images/features-illustration.svg'),
		linear-gradient(var(--dark-200-6), transparent 10rem);
	background-position-x: 1100px, center;
	background-repeat: no-repeat;
}

.featuresContent {
	width: var(--max-width);
	margin: 0 auto;
	padding: 3rem 0;
	border-bottom: 1px solid var(--dark-200);
}

@media screen and (min-width: 768px) {
	.featuresContent {
		padding: 5rem 0;
	}
}

.heading {
	margin: 0 auto 3rem;
	max-width: 42rem;
	text-align: center;
}

.title {
	margin: 0 auto 1rem;
	max-width: 48rem;
	color: var(--almost-white);
	font-family: 'Uncut-Sans-Bold';
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.18;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.title {
		margin: 0 auto 1rem;
		font-size: 3rem;
	}
}

.text {
	font-size: 1.25rem;
	line-height: 1.5;
}

.twoCols .text {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.twoCols .text {
		text-align: left;
	}
}

.twoCols {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
}

@media screen and (min-width: 768px) {
	.twoCols {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 4rem;
	}
}

.twoCols > * {
	flex-basis: 100%;
}

@media screen and (min-width: 768px) {
	.twoCols div:first-child {
		order: 1;
	}
}

.articleTitle {
	margin: 0 0 1rem;
	color: var(--almost-white);
	font-family: 'Uncut-Sans-Bold';
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.25;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.articleTitle {
		text-align: left;
	}
}

.twoCols ul {
	width: fit-content;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.twoCols ul {
		width: auto;
		margin: 0;
	}
}

.listItem {
	font-size: 1.125rem;
}

.listItem + .listItem {
	margin-top: 0.75rem;
}

.listItem::before {
	display: inline-block;
	content: url('/assets/images/check.svg');
	width: 0.75rem;
	margin-right: 0.75rem;
}
