.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3em;
	padding: 1em 1.5em;
	border-radius: 0.25rem;
	box-shadow: 0px 0.25rem 0.875rem rgba(0, 0, 0, 0.5);
	color: white;
}

header .button {
	padding: 0.6em 1em;
}

.accent {
	background-image: linear-gradient(var(--accent-light), var(--accent));
}

.accentSmall {
	background-image: linear-gradient(var(--accent-light), var(--accent));
	padding: 0.6em 1.5em;
}

.regular {
	background-image: linear-gradient(var(--dark-100), var(--dark-200));
}

.accent:hover,
.accentSmall:hover {
	background: var(--accent);
}

.regular:hover {
	background: var(--dark-200);
}
