.hero {
	background-image: url('/assets/images/hero-illustration.svg'),
		linear-gradient(transparent 75%, var(--dark-200));
	background-position-x: 50%;
	background-repeat: no-repeat;
}

.heroContent {
	width: min(1104px, 95%);
	margin: 0 auto;
	padding: 10rem 0 5rem;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.heroContent {
		text-align: left;
	}
}

.metalButton {
	margin: 0 0 1.5rem;
	padding: 0.3em 1.5em;
	display: inline-block;
	position: relative;
	background-color: var(--dark-200);
	color: var(--neutral-100);
	font-size: 14px;
	line-height: 1.57;
	border-radius: 2rem;
	z-index: 0;
}

.metalButton::before,
.metalButton::after {
	content: '';
	position: absolute;
	border-radius: 2rem;
	z-index: -1;
}

.metalButton::before {
	inset: 0;
	background-image: linear-gradient(
		var(--dark-300),
		var(--dark-150),
		var(--dark-300)
	);
}

.metalButton::after {
	inset: 2px;
	background-color: var(--dark-200);
}

.metalButtonLink {
	font-weight: 500;
	color: var(--accent-300);
}

.arrowLink {
	display: inline-block;
}

.metalButtonLink:hover .arrowLink {
	transform: translateX(4px);
}

.heroTitle {
	width: min(576px, 95%);
	margin: 0 auto 1.5rem;
	font-family: 'Uncut-Sans-Bold';
	font-size: 3.75rem;
	line-height: 1;
	color: var(--almost-white);
}

@media screen and (min-width: 768px) {
	.heroTitle {
		width: 60%;
		margin: 0 0 1.5rem;
		font-size: 5rem;
	}
}

.heroText {
	width: min(576px, 95%);
	margin: 0 auto 2.5rem;
	font-size: 1.25rem;
	line-height: 1.5;
	color: inherit;
}

@media screen and (min-width: 768px) {
	.heroText {
		width: 60%;
		margin: 0 0 2.5rem;
	}
}

.list {
	max-width: 320px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

@media screen and (min-width: 768px) {
	.list {
		max-width: 60%;
		margin: 0;
		flex-direction: row;
		align-items: center;
	}
}
