.container {
	width: var(--max-width);
	margin: 0 auto;
	padding: 4rem 3rem;
	background-image: url('/assets/images/cta-illustration.svg'),
		linear-gradient(var(--secondary), var(--accent));
	background-position: right center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.25rem;
}

.title {
	margin: 0 0 0.7rem;
	font-size: 2.25rem;
	font-weight: 700;
	color: var(--almost-white);
}

.text {
	margin: 0;
	color: var(--almost-white);
}
