.card {
	background-color: var(--dark-200);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
}

.logo {
	margin: 0 0 0.75rem;
	width: 3rem;
	height: 3rem;
	background-image: linear-gradient(var(--dark-100), var(--dark-300));
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	margin: auto 0 0;
	color: var(--almost-white);
	font-size: 1.25rem;
	font-weight: 600;
}
