.header {
	position: absolute;
	inset: 0 0 auto 0;
	padding-top: 0.75rem;
}

@media screen and (min-width: 768px) {
	.header {
		padding-top: 1.5rem;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	width: min(1104px, 95%);
	margin: 0 auto;
}

.navLink {
	color: var(--neutral-100);
}

.navLink:hover {
	color: var(--accent-300);
}

.list {
	display: flex;
	gap: 2rem;
	align-items: center;
	font-weight: 500;
}

.logo {
	width: 2rem;
}
