.features {
	width: var(--max-width);
	margin: 0 auto;
}

.logosGrid {
	max-width: 24rem;
	margin: 0 auto 3rem;
	padding: 2rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	gap: 1rem;
	border-bottom: 1px solid var(--dark-200);
}

.logosGrid img:last-child {
	grid-column: span 2;
}

@media screen and (min-width: 768px) {
	.logosGrid {
		max-width: 64rem;
		margin: 0 auto 5rem;
		grid-template-columns: repeat(5, 1fr);
	}

	.logosGrid img:last-child {
		grid-column: span 1;
	}
}

.featuresGrid {
	max-width: 24rem;
	margin: 4rem auto 3rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

@media screen and (min-width: 768px) {
	.featuresGrid {
		max-width: none;
		margin: 4rem auto 5rem;
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
		gap: 4rem;
	}
}

.featuresCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.featuresCard img {
	margin-bottom: 0.5rem;
}

.featuresCard h3 {
	margin: 0;
	font-size: 1.5rem;
	color: var(--almost-white);
	font-weight: 700;
}

.featuresCard p {
	margin: 0;
	font-size: 1.125rem;
	line-height: 1.5;
	text-align: center;
}
